/* components/navbar.module.css */

.navbar {
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .navbarList {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center; /* Add this line to vertically center the items */
  }
  
  .navbarList li {
    margin-right: 20px;
  }
  
  .navbarList li:last-child {
    margin-right: 0;
  }
  
  .navbarList a {
    text-decoration: none;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  